# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular tools and libraries for Data Science
- Creating and using a Jupyter notebook
- Setting up a GitHub account

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Tensorflow
4. Scipy
5. Pytorch

| Data Science Tools |
|--------------------|
| Tableau |
| Apachespark |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

a + b
a - b
a / b
a * b
a ** b
a % b

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vedang Jadhav